.carousel-container {
    display: flex;
    align-items: center;
  }
  
  .image-strip {
    display: flex;
    overflow: hidden;
    width: 100%; /* מתאים ל-6 תמונות של 100px */
  }
  
  .image-strip img {
    width: 250px;
    height: 250px;
    margin: 0 2px;
    object-fit: cover;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 60px;
    border-radius: 5px;
  }
  