.calaulator {
    display: grid;
    grid-template-columns: 25% 75%;
}
.divSumToPay {
    display: flex;
    justify-content: center;
}
.divSumToPay label {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin: 0 6px;
}
