<div class="container mt-3">
  <h2>{{ this.item.type + "  " + this.item.size }}</h2>
  <div class="card" style="width: 400px">
    <!-- <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%"> -->
    <div class="card-body">
      <h4 class="card-title">{{ this.item.type + "  " + this.item.size }}</h4>
      <p class="card-text">
        בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה בלה מלל
      </p>
      <app-my-button
        [textToShow]="`להסרה`"
        [iconName]="'fa-solid fa-trash-alt'"
        (myOnClick)="remove()"
        [backgroundColor]="'red'"
      ></app-my-button>
      <app-my-input
        [textToShow]="'הכנס כמות'"
        [myType]="'number'"
        [valueToPut]="200"
      ></app-my-input>
    </div>
  </div>
  <br />
</div>
