<!-- contact.component.html -->
<!-- <p>צרו איתנו קשר</p> -->
<!-- <img src="images/לוגו1.jpg" width="200px" /> -->
        <div class="mb-3 mt-3">
            <input class="form-control" id="name" placeholder="הכנס שם" 
            [(ngModel)]="data.thisUser.name" name="contact_name" #name="ngModel" required minlength="3" pattern="^[א-תa-zA-Z\s]+$">
            <div [hidden]="!name.invalid ||!name.dirty ||!name.touched">
                @if(name.errors?.['required']){
                    <p class="err">שדה חובה</p>
                }
                @else if(name.errors?.['minlength']){
                    <p class="err">קצר מידי</p>
                }
                @else if(name.errors?.['pattern']){
                    <p class="err">שם מורכב מאותיות בלבד</p>
                }
            </div>
        </div>
        <div class="mb-3 mt-3">
            <input type="text" class="form-control" id="phone" placeholder="הכנס מספר פלאפון" 
            [(ngModel)]="data.thisUser.phone" name="contact_phone" #phone="ngModel" required minlength="9" maxlength="10" pattern="^[0-9]+$">
            <div [hidden]="!phone.invalid || !phone.touched ||!phone.dirty">
                @if(phone.errors?.['required']){
                    <p class="err">שדה חובה</p>
                }
                @else if(phone.errors?.['minlength']){
                    <p class="err">קצר מידי</p>
                }
                @else if(phone.errors?.['maxlength']){
                    <p class="err">ארוך מידי</p>
                }
                @else if(phone.errors?.['pattern']){
                    <p class="err">טלפון מורכב ממספרים בלבד</p>
                }
           
            </div>
        </div>
        <div class="mb-3 mt-3">
            <input class="form-control" id="email" placeholder="הכנס כתובת מייל" 
            [(ngModel)]="data.thisUser.email" name="contact_email" #email="ngModel" required pattern="^[a-zA-Z0-9._%+]+@[a-zA-Z0-9.]+\.[a-zA-Z]{2,}$">
            <div [hidden]="!email.invalid || !email.touched ||!email.dirty">
                @if(email.errors?.['required']){
                    <p class="err">שדה חובה</p>
                }
                @else if(email.errors?.['pattern']){
                    <p class="err">מייל לא תקין</p>
                }
           
            </div>
        </div>
