<div class="all">
    <div class="Navigations">
        <p class="a">ניווט</p>
            <a [routerLink]="'home'">בית</a><br>
            <a [routerLink]="'contect'">צור קשר</a><br>
            <a [routerLink]="'calculator'">מחשבון עלויות</a><br>
            <a [routerLink]="'status'">הזמנה קיימת</a><br>
    </div>
    <div class="toContect">
        <p class="a">יצירת קשר</p>
        <p>{{"00506861837p@gmail.com"}}</p>

        <p >אלי. 0506861837 | משה. 0583256766</p>
    </div>
    <button type="button" class="btn btn-primary" [routerLink]="'contect'">כדי שנוכל לחזור אליך...</button>

</div>




