<div class="all">
    <div class="Navigations">
        <p class="a">ניווט</p>
            <a [routerLink]="'home'">בית</a><br>
            <a [routerLink]="'contect'">צור קשר</a><br>
            <a [routerLink]="'calculator'">מחשבון עלויות</a><br>
            <a [routerLink]="'status'">הזמנה קיימת</a><br>
            <a href="#">מחירים</a><br>
            <a href="#">שאלות נפוצות</a>
    </div>
    <div class="toContect">
        <p class="a">יצירת קשר</p>
        <p>{{"00506861837p@gmail.com"}}</p>
        <p >אלי. 0506861837 | משה. 0583256766</p>
    </div>
    <button class="contectButton" [routerLink]="'contect'">כדי שנוכל לחזור אליך...</button>

</div>
<div class="maker">
<p><img src="images/לוגוSTS.png" width="50px" /> האתר נבנה ע"י </p>
</div>



