@media (max-width: 768px) {
    .all {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: small;
    }
}
.all{
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.toContact{
    padding-right: 10%;
}
.a{
    text-decoration: none;
    color: #007bff;
    font-size: 1.5rem;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
a {
    all: unset; 
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}
.maker{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #00105f;
    margin-top: 1rem;
    /* margin-right: 2rem; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contectButton{
    background-color: #cfeaff;
    shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    color: rgb(3, 0, 195);
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}