<table class="table">
    <thead>
      <tr>
        @for(title of titles;track title)
        {
        <th>{{title}}</th>
        }
      </tr>
    </thead>
    <tbody>
        @if(users){
            @for(user of users;track user)
            {
                <tr>
                    <td>{{user.Name}}</td>
                    <td>{{user.Phone}}</td>
                    <td>{{user.Email}}</td>
                </tr>
            } 
        }
        @if(massages){
            @for(massage of massages;track massage)
            {
                <tr>
                    <td>{{massage.User.Name}}</td>
                    <td>{{massage.User.Phone}}</td>
                    <td>{{massage.User.Email}}</td>
                    <td>{{massage.Massage}}</td>
                    <td>
                        <app-my-button 
                        [textToShow]="massage.Status"
                        (myOnClick)="updateStatus(massage)"
                        [backgroundColor]="massage.Status==EnumStatus.newT?'red':massage.Status==EnumStatus.InTreatment?'orange':'yellow'">
                        </app-my-button>
                    </td>
                    <td>
                        <app-my-button 
                        [textToShow]="'🗑️'"
                        (myOnClick)="deleteMassage(massage)">
                        </app-my-button>
                    </td>
                </tr>
            } 
        }
        @if(orders){
            @for(order of orders;track order)
            {
                <tr>
                    <td>{{order.User.Name}}</td>
                    <td>{{order.User.Phone}}</td>
                    <td>{{order.User.Email}}</td>
                    <!-- <td>{{order.OrderDate| date:'dd/MM/yyyy'}}}</td> -->
                    <td>
                        <app-my-button 
                        [textToShow]="'רשימת הזמנה'"
                        (myOnClick)="openViewDialog(order)">
                        </app-my-button>
                    </td>
                    <td>{{order.SumToPay}}</td>

                    <td>
                        <app-my-button 
                        [textToShow]="'📝'"
                        (myOnClick)="openEditDialog(order)">
                        </app-my-button>
                    </td>
                    <td>
                        <app-my-button 
                        [textToShow]="'🗑️'"
                        (myOnClick)="deleteOrder(order.Id)">
                        </app-my-button>
                    </td>
                </tr>
            } 
        }
    </tbody>
  </table>